{% extends "gestor/base.html" %}

{% block title %} {{ atividade.nome }} {% endblock %}

{% block content %}
<h1>{{ atividade.nome }} | {{ atividade.alunos.count }}</h1>

<table class="table table-hover w-auto">
  <thead>
    <tr>
      <th>RA</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% for aluno in alunos %}
    <tr>
      <td class="position-relative"><a class="stretched-link" href="{% url 'gestor:aluno' aluno.ra %}">{{ aluno.ra }}</a></td>
      <td class="position-relative">{{ aluno.nome }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">Nenhum aluno encontrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}