{% extends "gestor/base.html" %}

{% block title %}Atividades{% endblock %}

{% block content %}
<h1>Atividades | {{ total_atividades }}</h1>

<table class="table table-hover w-auto">
  <thead>
    <tr>
      <th>Atividade</th>
      <th>Participantes</th>
    </tr>
  </thead>

  <tbody>
    {% for atividade in atividades %}
    <tr>
      <td class="position-relative"><a class="stretched-link" href="{% url 'gestor:atividade' atividade.nome %}">{{ atividade.nome }}</a></td>
      <td class="position-relative"><span class="badge text-bg-primary rounded-pill">{{ atividade.alunos.count }}</span></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">Nenhuma atividade encontrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}