{% load static %}

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'gestor/bootstrap.min.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-secondary-subtle">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'admin:index' %}">Administração</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" me-auto mb-2 mb-lg-0>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gestor:alunos' %}">Alunos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gestor:atividades' %}"
                >Atividades</a
              >
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn">Log out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="m-3">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'gestor/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
